body {
    font-family: 'monospace';
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.nameWrapper {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.tableWrapper {
    text-align: center;
}
